.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    align-items: center;
    justify-content: center;
   
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    height: 250px;
    color: white;

}
.service-icon-design{
    font-size: 70px;
    color: white;
}
.service-title{
    font-size: 30px;

}

.sales{
    background-image: linear-gradient(rgba(241, 7, 7, 0.664),rgba(242, 0, 0, 0.815), rgba(255, 0, 0, 0.836), rgba(226, 9, 9, 0.856)), url(../../images/service\ 1.jpg);
    background-size: cover;
    background-position: center;
    
}
.rentals{
    background-image: linear-gradient(rgba(10, 10, 10, 0.938),rgba(8, 8, 8, 0.925), rgba(15, 15, 15, 0.904), rgba(7, 7, 7, 0.911)), url(../../images/service\ 2.jpg);
    background-size: cover;
    background-position: center;
    
}
.services{
    background-image: linear-gradient(rgba(58, 52, 52, 0.87),rgba(53, 48, 48, 0.856), rgba(51, 45, 45, 0.836), rgba(51, 46, 46, 0.89)), url(../../images/service\ 3.jpg);
    background-size: cover;
    background-position: center;
    
}