/*--------------------
  css design starts from here
---------------------- */

.certification-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    align-items: center;
    justify-content: center;
    padding: 80px 180px;
}

.certification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    box-shadow: 1px 1px 18px rgb(196, 194, 194);
    
}

.certification:hover{
    box-shadow: 1px 1px 18px grey;
}

.certication-img{
    width: 400px;
}

.certification-title{
    text-align: center;
    font-size: 30px;
    color: #414141;
}

.certification-desc{
    margin-top: 0;
    text-align: center;
    padding: 0 25px;
    color: #7D7D7D;
}

/* Certification Button */

.certification-learn-btn{
    background-color: #BE0505;
    border: 2px solid #BE0505;
    color: white;
    padding: 12px 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.certification-learn-btn:hover{
    border: 2px solid #BE0505;
    color: #BE0505;
    background-color: white;
}



/*--------------------
  Media Query for Mobile
---------------------- */

@media only screen and (max-width:688px){
 
    .certification-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        align-items: center;
        justify-content: center;
        padding: 80px 40px;
    }

    .certication-img{
        width: 300px;
    }
}


/*--------------------
  Media Query for Ipad
---------------------- */

@media only screen and (min-width : 689px) and (max-width : 1024px){

    .certification-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 50px 40px;
    }

    .certication-img{
        width: 300px;
    }
}

/*--------------------
  css design ends here
---------------------- */