/*--------------------
  css design starts from here
---------------------- */

.one-stop-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    padding: 80px 180px;
}

.one-stop-img{
    width: 400px;
    text-transform:capitalize;
    transition:all .5s;

}

.one-stop-title{
    font-size: 35px;
    margin-top: 0;
}

.one-stop-details{
    text-align: justify;
}

/* buttons design */

.learn-btn{
    background-color: #BE0505;
    border: 2px solid #BE0505;
    color: white;
    padding: 12px 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.learn-btn:hover{
    background-color: white;
    color: #BE0505;
    border: 2px solid #BE0505;
    font-weight: 600;
}

.get-in-btn{
    background-color: white;
    border: 2px solid #BE0505;
    color: #BE0505;
    padding: 12px 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.get-in-btn:hover{
    background-color: #BE0505;
    color: white;
    border: 2px solid #BE0505;
    font-weight: 600;
}

/*--------------------
  Media Query for Mobile
---------------------- */

@media only screen and (max-width:688px){
    .one-stop-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 40px;

    }
    .one-stop-img{
        width: 320px;
        margin-top: 30px;
    }

    .one-stop-title{
        font-size: 25px;
        margin-top: 20px;
    }
    .learn-btn{
        margin-left: 42px;
    }
}

/*--------------------
  Media Query for Ipad
---------------------- */

@media only screen and (min-width : 689px) and (max-width : 1024px){

    .one-stop-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;

    }

    .one-stop-img{
        width: 280px;
        margin: 30px 0;
    }

    .one-stop-title{
        font-size: 20px;
        margin-top: 20px;
    }
    .one-stop-details{
        font-size: 12px;
    }
    
}

/*--------------------
  css design ends here
---------------------- */