.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 5px 130px;
    position: fixed;
    top: 10%;
}

.header-img{
    width: 360px;
}

.menu-container{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
}

.nav{
    text-decoration: none;
    color: rgb(221, 213, 213);
    padding: 8px 12px;
    font-weight: 600;
    text-transform: uppercase;
}



@media only screen and (max-width:688px){

    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ECF0F3;
        padding: 40px 20px;
        
        
    }
    
    .header-img{
        width: 50px;
        margin-bottom: 20px;
    }
    
    .menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }


}

.feature{
    background-image: url(../../images/banner\ 4.jpg);
    background-size:cover;
    height:100vh;
    background-position: center;
    
}

.banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;

}

.banner-title{
    font-size: 50px;
    margin: 0;
    text-align: center;
    color: white;
}
.banner-desc{
    font-size: 20px;
    margin: 0;
    letter-spacing: 6px;
    text-align: center;
    color: white;
}

.learn-more-btn{
    background-color: #BE0505;
    border: 2px solid #BE0505;
    color: white;
    padding: 12px 25px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 25px;
}

.learn-more-btn:hover{
    border: 2px solid white;
}

@media only screen and (max-width:688px){
    .feature{
        margin: 0 10px;
    }
}